# Kopieer dit bestand naar ".env.local" voor lokaal testen.
# Op Vercel zet je deze zelfde variabelen in: Project Settings > Environment Variables

STRIPE_SECRET_KEY=sk_live_xxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SITE_URL=https://www.tapreviews.nl
